* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

body {
  background-color: #303030;
  min-height: 100vh;
  width: 100%;
}
.container {
  background-color: #202020;
  width: 100%;
  display: flex;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
}

button,
input {
  border-radius: 8px;
  font-size: 1.1rem;
  padding: 8px;
  background-color: #303030;
  color: white;
  cursor: pointer;
}

.links {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  padding: 4px;
  margin: 10px;
  background-color: #202020;
}

.link span {
  margin: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.links button {
  font-size: 0.9rem;
  margin: 2px;
}

.link a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 2px;
}

.link a:hover {
  text-decoration: underline;
}
.link span {
  color: white;
}

.link .anchorDiv{
  display: flex;
  align-items: center;
  height: 25px;
  margin: 3px;
}
.link .anchorDiv img{
  height: 25px;
  margin: 2px;
}

@media only screen and (max-width: 700px) {
  .links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .link{
    width: 90%;
  }
  .container {
    align-items: flex-start;
    padding-left: 10px;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    height: 300px;
  }
}
